<%= form_tag perfumes_path, method: :get do %>
<div class="search-form-control form-group">
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a Perfume",
    autocomplete: "off"
  %>
  <%= submit_tag "Search", class: "btn btn-secondary" %>
  </button>
  </div>
<% end %>

<div class="container">
  <h1>Perfumes</h1>
  <div class="row">
    <% @perfumes.each do |perfume| %>
      <div class="col-6 col-md-4">
        <div class="card">
          <%= image_tag perfume.photo_url , class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= perfume.name %></h5>
            <p class="card-text"><%= perfume.category.name %></p>
            <p>Amount: <%= humanized_money_with_symbol(perfume.price) %></p>
            <%= link_to "More details", perfume_path(perfume), class: "btn btn-secondary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
